img {
    max-width: 35rem;
    max-height: 30rem;
    border-radius: 5%;
    border: 5px solid black;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transform-origin: center;

    &:hover {
        transform: scale(1.05);
        border-color: rgb(177, 45, 45);
        box-shadow: 0px 0px 5px #fff;
    }    
}