<!-- Header -->
<h1 (click)="goToHome()">My Tournament</h1>

<div id="tsparticles"></div>

<!-- Content -->
<div class="content">
  <div class="home" *ngIf="!gameStarted">
    <p>Welcome to MyTournament! Type in the contenders' category and press Play!</p>
    <app-input (categorySelected)="onCategorySelected($event)"></app-input>
    <button mat-flat-button color="primary" (click)="startGame()">Play</button>
  </div>
  <div class="challenge" *ngIf="gameStarted">
    <app-image [imageUrl]="leftImageUrl" (click)="shootConfetti($event)"></app-image>
    <app-image [imageUrl]="rightImageUrl" (click)="shootConfetti($event)"></app-image>    
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="footer-text">
      <p>© 2025 Vavuz. All rights reserved.</p>
      <p>Designed & Developed by Vavuz</p>
  </div>
  <div class="footer-links">
      <a href="https://www.pexels.com">Photos provided by</a>
      <a href="https://www.pexels.com">
          <img src="https://images.pexels.com/lib/api/pexels-white.png" class="pexels"/>
      </a>
  </div>
</div>