html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;

    &:hover {
        cursor: pointer;
    }
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    padding-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

    p {
        width: 50rem;
        line-height: 2rem;
        font-size: 2rem;
    }

    button {
        margin-top: 2rem;
        min-width: 10rem;
        height: 5rem;
        font-size: 2rem;
        padding: 1rem 2rem;
    }
}

.challenge {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    a {
        color: black;
        text-decoration: none;
    }
    
}

.footer p {
    margin: 5px 0;
    font-weight: 500;
}

.pexels {
    margin-top: 1rem;
    width: 7rem;
    padding-bottom: 0.8rem;
}